<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll">
        <h2 style="text-align: center"><b>Create New Project</b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="project_name" class="col-sm-2 control-label">Project Topic</label>
                    <div class="col-sm-8 field required">
                        <textarea id="topic" rows="1" class="form-control form-control" placeholder="Enter your project topic"></textarea>
                    </div>
                </div>
                <div class="form-group field required">
                    <label for="project_content" class="col-sm-2 control-label">Content</label>
                    <div class="col-sm-8">
                        <textarea id="content" class="form-control" rows="6" placeholder="Enter your detailed description of this project" ></textarea>
                    </div>
                </div>
            </form>
            <div style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="checkProposal()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>

<script>
    function checkProposal() {
        const topic = document.getElementById('topic').value;
        const content = document.getElementById('content').value;
        if (topic == '') {
            alert('Please enter a topic');
        } else if (content == '') {
            alert('Please enter content');
        } else {
            const inputElement1 = document.createElement("input");
            inputElement1.type = 'hidden';
            inputElement1.name = 'topic';
            inputElement1.value = topic;
            const inputElement2 = document.createElement("input");
            inputElement2.type = 'hidden';
            inputElement2.name = 'content';
            inputElement2.value = content;

            const form = document.createElement("form");
            form.action = '/client/myproject/create_project';
            form.method = 'post';
            form.style.display = "none";

            form.appendChild(inputElement1);
            form.appendChild(inputElement2);
            document.body.appendChild(form);
            form.submit();
            return form
        }
    }
</script>

<%- include('script')%>
