<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">

    <div class="blank-page widget-shadow scroll">
        <h2 style="text-align: center"><b>Marking - SSIT Team <%=team.TeamName%></b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Documentation</label>
                    <div class="col-sm-8">
                        <p>Must determine the apprioprite form of documentation with client.This could be a seprate user manual. or online help system, or multiple different forms.</p>
                        <br>
                        <select name="mark1" id="selector1" class="form-control-project">
                            <option> - </option>
                            <option value="3">3 - very poor documentation</option>
                            <option value="6">6 - few documentation</option>
                            <option value="9">9 - regular documentation</option>
                            <option value="12">12 - good documentation</option>
                            <option value="15">15 - very good documentation</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="mark1_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Final Demonstration</label>
                    <div class="col-sm-8">
                        <p>Please mark based on the final demonstration.</p>
                        <br>
                        <select name="mark2" id="selector2" class="form-control-project">
                            <option> - </option>
                            <option value="1">1 - very poor demonstration</option>
                            <option value="2">2 - incomplete demonstration</option>
                            <option value="3">3 - regular demonstration</option>
                            <option value="4">4 - good demonstration</option>
                            <option value="5">5 - very good demonstration</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="mark2_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector3" class="col-sm-2 control-label">Communication throughout semester</label>
                    <div class="col-sm-8">
                        <p>Please mark based on the communication of you and your team throughout semester.</p>
                        <br>
                        <select name="mark3" id="selector3" class="form-control-project">
                            <option> - </option>
                            <option value="1">1 - poor communication</option>
                            <option value="2">2 - few communication</option>
                            <option value="3">3 - regular communication</option>
                            <option value="4">4 - frequent communication</option>
                            <option value="5">5 - frequent and effective communication</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="mark3_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector4" class="col-sm-2 control-label">Ease of use</label>
                    <div class="col-sm-8">
                        <p>Please mark based on the system delivered of understandability.</p>
                        <br>
                        <select name="mark4" id="selector4" class="form-control-project">
                            <option> - </option>
                            <option value="1">1 - can not understand</option>
                            <option value="2">2 - can not understand completely</option>
                            <option value="3">3 - hard to understand</option>
                            <option value="4">4 - easy to understand</option>
                            <option value="5">5 - easy and clear to understand</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="mark4_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector5" class="col-sm-2 control-label">Completeness</label>
                    <div class="col-sm-8">
                        <p>Please mark based on the system delivered of completeness.</p>
                        <br>
                        <select name="mark5" id="selector5" class="form-control-project">
                            <option> - </option>
                            <option value="1">1 - nearly not complete</option>
                            <option value="2">2 - half complete</option>
                            <option value="3">3 - almost complete</option>
                            <option value="4">4 - complete</option>
                            <option value="5">5 - good complete</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="mark5_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector6" class="col-sm-2 control-label">Innovation</label>
                    <div class="col-sm-8">
                        <p>Please mark based on the system delivered of innovation.</p>
                        <br>
                        <select name="mark6" id="selector6" class="form-control-project">
                            <option> - </option>
                            <option value="1">1 - no innovation</option>
                            <option value="2">2 - few innovation</option>
                            <option value="3">3 - critical innovation</option>
                            <option value="4">4 - innovative</option>
                            <option value="5">5 - very innovative</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="mark6_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                <label for="selector6" class="col-sm-2 control-label">Robustness</label>
                <div class="col-sm-8">
                    <p>Please mark based on the system delivered of robustness.</p>
                    <br>
                    <select name="mark7" id="selector6" class="form-control-project">
                        <option> - </option>
                        <option value="1">1 - no robustness</option>
                        <option value="2">2 - a little robustness</option>
                        <option value="3">3 - critical robustness</option>
                        <option value="4">4 - robust</option>
                        <option value="5">5 - very robust</option>
                    </select>
                    <p>&nbsp</p>
                    <textarea name="mark7_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector6" class="col-sm-2 control-label">Overall impression of the system</label>
                    <div class="col-sm-8">
                        <p>Please mark based on the overall impression of the system.</p>
                        <br>
                        <select name="mark8" id="selector6" class="form-control-project">
                            <option> - </option>
                            <option value="1">1 - dissatisfied</option>
                            <option value="2">2 - few satisfied</option>
                            <option value="3">3 - critical satisfied</option>
                            <option value="4">4 - satisfied</option>
                            <option value="5">5 - very satisfied</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="mark8_reason" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div style="text-align: center">
                    <input type="submit" class="btn btn-primary" value=" SUBMIT">
                </div>
            </form>

        </div>
    </div>
</div>

<%- include('footer') %>
