<!--footer-->
<div class="footer">
	<p>&copy; 2020 software system and internet technology (Msc) Group 3</p>
</div>
<!--//footer-->
</div>
		
<!--scrolling js-->
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>
<!--//scrolling js-->
	
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.js"> </script>
<!-- //Bootstrap Core JavaScript -->
   
</body>
</html>
