<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page role-select-page ">
		<h2 class="title1">Logout Success</h2>
		<div class="widget-shadow" style="text-align: center;">
			<br><br><br>
			<h4>You have successfully exited the system</h4>
			<br><br><br>
			<p>
				Page will be switched to <a href = "/role_select">portal</a> in few seconds
			</p>
			<br><br>
		</div>
	</div>
</div>

<script language="javascript" type="text/javascript">
	setTimeout("window.location.href = '/role_select'", 3000);
</script>

<%- include('footer') %>
