<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page forgot-password-page ">
		<h2 class="title1">Forgot Password</h2>
		<div class="widget-shadow">
			<br><br><br>
			<h4 style="text-align: center;">Sorry, please contact the administrator below to help reset your password</h4>
			<br>
			<table style="width: 60%; margin: auto; border:0.1em solid #000000">
				<% for(let i = 0; i < admins.length; i++) {%>
					<tr style="padding: 2%; border:1px solid #000000">
				 		<td style="width:50%; padding: 2%; text-align: center; border:0.1em solid #000000"><%= admins[i].Name %></td>
				  		<td style="width:50%; padding: 2%; text-align: center; border:0.1em solid #000000"><%= admins[i].UserName %></td>
					</tr>
				<% } %>
			</table>
			<br><br>
		</div>
	</div>
</div>

<%- include('footer') %>
