<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page signup-page">
		<h2 class="title1">Signup Here</h2>
		<div class="sign-up-row widget-shadow">
			<h5>Account details :</h5>
			<form action="/signup?role=client" method="post">
			    <div class="sign-u">
					<input type="text" name="fullname" placeholder="Full Name" required="">
					<div class="clearfix"> </div>
				</div>
				<div class="sign-u">
					<input type="email" name="email" placeholder="Email Address" required="">
					<div class="clearfix"> </div>
				</div>
				<div class="sign-u">
					<input type="password" name="password" placeholder="Password" required="">
					<div class="clearfix"> </div>
				</div>
				<div class="sign-u">
                    <input type="password" name="confirmedpw" placeholder="Confirm Password" required="">
                    <div class="clearfix"> </div>
				</div>
				<div class="sub_home">
					<input type="submit" value="Submit">
					<div class="clearfix"> </div>
				</div>
				<div class="registration">
					Already Registered.
					<a class="" href="/signin?role=client">
						Login
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

<%- include('footer') %>
