<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page role-select-page ">
		<h2 class="title1">Please choose your role</h2>
		<div class="widget-shadow">
			<div class="role-body">
				<button type = "button" class = "btn btn-primary role-button" onclick="window.location.href = '/signin?role=student'">Student</button>
				<button type = "button" class = "btn btn-primary role-button" onclick="window.location.href = '/signin?role=staff'">Staff</button>
				<button type = "button" class = "btn btn-primary role-button" onclick="window.location.href = '/signup?role=client'">Client</button>
				<button type = "button" class = "btn btn-primary role-button" onclick="window.location.href = '/signin?role=admin'">Admin</button>
			</div>
		</div>
	</div>
</div>

<%- include('footer') %>
