<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page role-select-page ">
		<h2 class="title1">Logout Success</h2>
		<div class="widget-shadow" style="text-align: center;">
			<br><br><br>
			You have successfully exited the system
			<br><br><br><br>
		</div>
	</div>
</div>

<%- include('footer') %>
