<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
	<div class="main-page login-page ">
		<h2 class="title1"><%=role.substring(0,1).toUpperCase() + role.substring(1)%> Login </h2>
		<div class="widget-shadow">
			<div class="login-body">
				<form action="/signin?role=<%=role%>" method="post">
					<input type="email" class="user" name="email" placeholder="Enter Your Email" required="">
					<input type="password" name="password" class="lock" placeholder="Password" required="">
					<!-- <div class="forgot-grid">
						<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
						<div class="forgot">
							<a href="#">forgot password?</a>
						</div>
						<div class="clearfix"> </div>
					</div> -->
					<input type="submit" name="Sign In" value="Sign In">
					<% if (role === 'client') { %>
						<div class="registration">
							Don't have an account ?
							<a class="" href="/signup?role=client">
								Create an account
							</a>
						</div>
					<% } %>
				</form>
			</div>
		</div>
	</div>
</div>

<%- include('footer') %>
