<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">

    <div class="blank-page widget-shadow scroll">
        <h2 style="text-align: center"><b>Marking - SSIT Team <%=team.TeamName%></b></h2>
        <div class="row">
            <br>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Mark Item 1</label>
                    <div class="col-sm-8">
                        <p>Description of Mark Item 1</p>
                        <br>
                        <select name="selector1" id="selector1" class="form-control-project">
                            <option>1 - mark criteria</option>
                            <option>2 - mark criteria</option>
                            <option>3 - mark criteria</option>
                            <option>4 - mark criteria</option>
                            <option>5 - mark criteria</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector2" class="col-sm-2 control-label">Mark Item 2</label>
                    <div class="col-sm-8">
                        <p>Description of Mark Item 2</p>
                        <br>
                        <select name="selector1" id="selector2" class="form-control-project">
                            <option>1 - mark criteria</option>
                            <option>2 - mark criteria</option>
                            <option>3 - mark criteria</option>
                            <option>4 - mark criteria</option>
                            <option>5 - mark criteria</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector3" class="col-sm-2 control-label">Mark Item 3</label>
                    <div class="col-sm-8">
                        <p>Description of Mark Item 3</p>
                        <br>
                        <select name="selector1" id="selector3" class="form-control-project">
                            <option>1 - mark criteria</option>
                            <option>2 - mark criteria</option>
                            <option>3 - mark criteria</option>
                            <option>4 - mark criteria</option>
                            <option>5 - mark criteria</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector4" class="col-sm-2 control-label">Mark Item 4</label>
                    <div class="col-sm-8">
                        <p>Description of Mark Item 4</p>
                        <br>
                        <select name="selector1" id="selector4" class="form-control-project">
                            <option>1 - mark criteria</option>
                            <option>2 - mark criteria</option>
                            <option>3 - mark criteria</option>
                            <option>4 - mark criteria</option>
                            <option>5 - mark criteria</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector5" class="col-sm-2 control-label">Mark Item 5</label>
                    <div class="col-sm-8">
                        <p>Description of Mark Item 5</p>
                        <br>
                        <select name="selector1" id="selector5" class="form-control-project">
                            <option>1 - mark criteria</option>
                            <option>2 - mark criteria</option>
                            <option>3 - mark criteria</option>
                            <option>4 - mark criteria</option>
                            <option>5 - mark criteria</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="selector6" class="col-sm-2 control-label">Mark Item 6</label>
                    <div class="col-sm-8">
                        <p>Description of Mark Item 6</p>
                        <br>
                        <select name="selector1" id="selector6" class="form-control-project">
                            <option>1 - mark criteria</option>
                            <option>2 - mark criteria</option>
                            <option>3 - mark criteria</option>
                            <option>4 - mark criteria</option>
                            <option>5 - mark criteria</option>
                        </select>
                        <p>&nbsp</p>
                        <textarea name="t1" id="t1" style="width: 100%; resize: none" rows="3" placeholder="Enter your reason"></textarea>
                    </div>
                </div>
                <br>
            </form>
            <div style="text-align: center">
                <button onclick="window.location='/client/myteam/team_1'" type="button" class="btn btn-primary">SUBMIT</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
