<!DOCTYPE HTML>
<html>
<head>
    <title><%= pageTitle %></title>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
    <!--    <meta name="keywords" content="Glance Design Dashboard Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,-->
    <!--SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>-->
    <!--    <script type="application/x-javascript"> addEventListener("load", function () {-->
    <!--        setTimeout(hideURLbar, 0);-->
    <!--    }, false);-->

    <!--    function hideURLbar() {-->
    <!--        window.scrollTo(0, 1);-->
    <!--    } </script>-->

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>

    <!-- font-awesome icons CSS -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS -->

    <!-- side nav css file -->
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- side nav css file -->


    <!-- js-->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/custom.js"></script>
    <link href="/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

    <!-- calendar -->
    <link rel="stylesheet" href="../../css/monthly.css">
    <!-- //calendar -->

    <link href="../../css/custom/discussion_details_style.css" rel='stylesheet' type='text/css' />

</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="#"><span class="fa fa-area-chart"></span>Student<span
                                    class="dashboard_text">Dashboard</span></a></h1>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview"><a href="/student/homepage"><i class="fa fa-dashboard"></i> <span>Home Page</span></a>
                        </li>
                        <li class="treeview"><a href="/student/all_projects"><i class="fa fa-folder"></i> <span>All Projects</span></a>
                        </li>
                        <li class="treeview"><a href="/student/timetable"><i class="fa fa-table"></i> <span>My Timetables</span></a>
                        </li>
                        <li class="treeview"><a href="/student/student_qa"><i class="fa fa-edit"></i> <span>Q & A</span></a>
                        </li>
                        <li class="treeview"><a href="/student/my_mark"><i class="fa fa-file-text-o"></i> <span>My Mark</span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <!--left-fixed -navigation-->

    <!-- header-starts -->
    <div class="sticky-header header-section " style="height: 3.8em">
        <div class="header-left">
            <!--toggle button start-->
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <!--toggle button end-->
            <div class="clearfix"></div>
        </div>

        <!--persional profile-->
        <div class="header-right">
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
<!--                                <span class="prfil-img"><img src="images/2.jpg" alt=""> </span>-->
                                <div class="user-name">
                                    <p><%= student.Name %></p>
                                    <span>Student</span>
                                </div>
                                <i class="fa fa-angle-down lnr"></i>
                                <i class="fa fa-angle-up lnr"></i>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a href="/account/reset_password"><i class="fa fa-cog"></i> Reset password</a> </li>
                            <li> <a href="/signout"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
